<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= meta.title %></title>
  <meta name="description" content="<%= meta.description %>">
  <link rel="canonical" href="<%= meta.url %>" />
  <!-- Open Graph -->
  <meta property="og:title" content="<%= meta.title %>">
  <meta property="og:description" content="<%= meta.description %>">
  <meta property="og:url" content="<%= meta.url %>">
  <meta property="og:type" content="article">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
